.page{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
 /* figure{
     height: 40vh;
     width: 40%;
     position: relative;
     animation: rotator infinite linear;
 } */
 .block{
     height: 400px;
     width: 400px;
     border: 1px solid black;
     position: relative;
     background-color: crimson;
     animation: rotator linear 5s infinite;
 }

 img{
     width: 100%;
     height: inherit;
     object-fit: cover;
     position: relative;
     animation: infinite linear;
     animation-name: rotator;
 }
 @keyframes rotator {
     0% {transform: rotate(0deg);}
     100% {transform: rotate(360deg);}
 }